transformers==4.43.0
tokenizers==0.19.1
accelerate==0.29.0
trl==0.7.7
datasets>=1.17.0
peft==0.10.0
sentencepiece
diskcache==5.6.3
pandas
torch
openai==0.28.1
matplotlib==3.7.1
scipy==1.10.1
wandb
bitsandbytes
pyro-ppl
scikit-learn
umap-learn